{% extends 'base_blog.html' %}

<!-- Вверху мы указываем, что этот шаблон наследуется от base.html. Затем отобразите
title и body из нашего объекта контекста, который DetailView делает доступным как пост.
Лично я нашел наименование объектов контекста в общих представлениях чрезвычайно запутанным
при первом изучении Джанго. Потому что наш объект контекста из DetailView является либо нашим
название модели сообщения или объекта, -->

{% block content %}

    <div class="post-entry">
    <h2>{{ object.title }}</h2>
    <p>{{ object.body }}</p>
    </div>

    <p><a href="{% url 'post_edit' post.pk %}">+ Edit Blog Post</a></p>

   <p><a href="{% url 'post_delete' post.pk %}">- Delete this sheet</a></p>

{% endblock %}


{#Мы добавили ссылку, используя <a href> ... </a> и механизм шаблонов Django {% url#}
{#... %} тег. В нем мы указали целевое имя нашего URL, которое будет называться#}
{#post_edit, а также передал необходимый параметр, который является первичным ключом сообщения#}
{#post.pk.#}
{#Затем мы создаем шаблон для нашей страницы редактирования с именем post_edit.html.#}