{% extends 'base_blog.html' %}

{% block content %}

    <form action="" method="post">
    {% csrf_token %}
        <p>Are you sure you want to delete"{{ post.title }}"?</p>


    <input type="submit" value="Confirm" />
    </form>


{% endblock %}