{% extends 'base_blog.html' %}

{% block content %}
 <form action="" method="post">
 {% csrf_token %}
 {{ form.as_p }}

 <input type="submit" value="Save" />
 </form>

{% endblock %}

{#• В верхней строке мы наследуем от нашего базового шаблона.#}
{#• Используйте HTML-теги <form> с методом POST, так как мы отправляем данные. Если мы#}
{#    получать данные из формы, например, в поле поиска, мы будем использовать#}
{#    ПОЛУЧИТЬ.#}
{#    • Добавьте {% csrf_token%}, который Django предоставляет для защиты нашей формы от перекрестного сайта.#}
{#    скриптовые атаки. Вы должны использовать его для всех ваших форм Django.#}
{#    • Затем для вывода данных формы мы используем {{form.as_p}}, который отображает их в#}
{#    теги абзаца <p>.#}
{#        • Наконец, укажите тип ввода для отправки и присвойте ему значение «Сохранить».#}