{% extends 'base.html' %}

{% block content %}


    <h2>Login</h2>

    <form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>

    </form>
{% endblock %}

<!--Мы используем HTML-теги <form> </ form> и указываем метод POST, так как мы
отправка данных на сервер (мы бы использовали GET, если бы запрашивали данные, например, в
{#форма поисковой системы). Мы добавляем {% csrf_token%} из соображений безопасности, а именно#}
предотвратить атаку XSS. Содержимое формы выводится между тегами абзаца
{#спасибо {{form.as_p}}, а затем мы добавляем кнопку «отправить».#}
Последний шаг - нам нужно указать, куда перенаправить пользователя при успешном входе в систему.
Мы можем установить это с настройкой LOGIN_REDIRECT_URL. Внизу файла settings.py
В файл добавьте следующее: -->