{% extends 'base.html' %}

{% block content %}

    <h2>Sign Up</h2>
    <form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit">Sign Up</button>

    </form>
{% endblock %}


{#Этот формат очень похож на то, что мы делали раньше. Мы расширяем наш базовый шаблон на#}
{#сверху разместите нашу логику между тегами <form> </ form>, используйте csrf_token для безопасности,#}
{#отображать содержимое формы в тегах абзаца с помощью form.as_p и включать отправку#}
{#кнопка.#}